#main-box{
	height: 1281px;
	width: 1100px;
	margin: 0 auto;
}
#main-box .box-left{
	width: 292px;
	height: 622px;
	float: left;	
	color: #EA3939;
}
#main-box .box-right{
	width: 770px;
	height:1281px;
	float: right;

}
#main-box .left-title{
	width: 290px;
	height: 37px;
	line-height: 40px;
    border-bottom: 2px solid #EA3939;
    font-weight: bold;
}
#main-box .box-menu{
	float: left;
    width: 290px;
    margin: 0 0 20px 0;
    overflow: hidden;
}
#main-box .box-menu ul{
	padding-top: 5px;
}
#main-box .box-menu li{
    clear: both;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #D0D0D0;
    font-weight: bold;
    background-color: #EFEFEF;
}
#main-box .box-menu li:hover{
	background-color: white;
}
#main-box .box-menu a{
	color: #EA3939
}#main-box .cx{
	clear: both;
    background: #EA3939;
    color: white;
    height: 300px;
    padding: 20px;
}
#main-box .cx a{
	color: white;
}
#main-box .tit {
    font-size: 18px;
    font-weight: bold;
	margin-top: 10px;
}
#main-box .con {
    line-height: 30px;
    margin-top: 10px;
    font-size: 12px;
    margin-top: 20px;
}
#main-box .mo{
	margin-top: 80px;
    font-size: 12px;
}
.right-tit{
	width: 770px;
	height: 37px;
	line-height: 40px;
    border-bottom: 2px solid black;
    font-weight: bold;
}
.right-tit a{
	color: black;
}
.right-main{
	width: 750px;
	height: 1234px;
	padding: 10px;
	color: #555555;
	line-height: 27px;
	font-size: 13px;
	padding-bottom: 20px;
}
.right-main img{
	float: right;
}




